body {
  background-color: black;
  color: white;
  text-align: center;
}
.intro p {
  color: white;
  font-size: 12pt;
  opacity: 0;
  -webkit-animation: linear fadeIn 2s forwards;
  animation: linear fadein 2s forwards;
}
.intro p:nth-child(1) {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
.intro p:nth-child(2) {
  -webkit-animation-delay: 3.5s;
  animation-delay: 3.5s;
}
.intro p:nth-child(3) {
  -webkit-animation-delay: 6s;
  animation-delay: 6s;
}
.intro p:nth-child(4) {
  -webkit-animation-delay: 8.5s;
  animation-delay: 8.5s;
}
.sting {
  color: #f5c367;
  opacity: 0;
  -webkit-animation: linear fadeIn 2s forwards;
  animation: linear fadein 2s forwards;
  -webkit-animation-delay: 10s;
  animation-delay: 10s;
}
.warp ul li{
  list-style-type: none;
  display: inline;
  margin: 0;
  padding: 50px;
  align-items: center;
  font-size: 20pt;
}
#firstbonfire {
  opacity: 0;
  -webkit-animation: linear fadeIn 2s forwards;
  animation: linear fadein 2s forwards;
  -webkit-animation-delay: 9.5s;
  animation-delay: 9.5s;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
